<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PSI Dashboard</title>

  <style>
    html {
      box-sizing: border-box;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    .apex-chart-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 820px;
    }

    .apex-chart {
      width: 400px;
      padding: 10px;
      margin-bottom: 10px;

      border: 2px solid #E4E4E4;
      border-radius: 2px;
    }


    .urls-table {
      border-collapse: collapse;
    }

    .urls-table,
    .urls-table th,
    .urls-table td {
      border: 1px solid #E4E4E4;
    }

    .urls-table__url {
      cursor: pointer;
    }

    /* Since apex charts doesn't support showing toolbar on hover
    let's make a hack: */
    .apexcharts-toolbar {
      display: none !important;
    }

    .apex-chart:hover .apexcharts-toolbar {
      display: flex !important;
    }
  </style>
</head>

<body>
  <div id="app">
    <urls-table></urls-table>

    <apex-chart></apex-chart>
  </div>

  <template id="urls-table">
    <table class="urls-table">
      <thead>
        <th>Url</th>

        <th>Mobile Speed Index</th>
        <th>Mobile First Contentful Paint</th>
        <th>Mobile Time To Interactive</th>
        <th>Mobile First Meaningful Paint</th>
        <th>Mobile First CPU Idle</th>

        <th>Desktop Speed Index</th>
        <th>Desktop First Contentful Paint</th>
        <th>Desktop Time To Interactive</th>
        <th>Desktop First Meaningful Paint</th>
        <th>Desktop First CPU Idle</th>
      </thead>

      <tbody>
        <tr v-for="(urlData, url) in urls">
          <td v-on:click="setCurrentUrl(url)" class="urls-table__url">
            {{ url }}
          </td>

          <td v-for="metric in metrics">
            {{ latestMetric(url, "mobile", metric) }}
          </td>

          <td v-for="metric in metrics">
            {{ latestMetric(url, "desktop", metric) }}
          </td>
        </tr>
      </tbody>
    </table>
  </template>

  <template id="apex-chart">
    <div class="apex-chart-container">
    </div>
  </template>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>

  <script>
    window.Apex = {
      chart: {
        height: 160,
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'straight'
      },
      toolbar: {
        tools: {
          selection: false
        }
      },
      markers: {
        size: 6,
        hover: {
          size: 10
        }
      },
      tooltip: {
        followCursor: false,
        theme: 'dark',
        x: {
          show: false
        },
        marker: {
          show: false
        },
        y: {
          title: {
            formatter: function() {
              return ''
            }
          }
        }
      },
      grid: {
        clipMarkers: false
      },
      yaxis: {
        tickAmount: 2
      },
      xaxis: {
        type: 'datetime'
      },
    }
  </script>

  <script>
    var reportData = <%= psi_data.to_json %>;
  </script>

  <script>
    var globalData = {
      urls: reportData,
      currentUrl: Object.keys(reportData)[0],
      deviceTypes: [
        "mobile",
        "desktop"
      ],
      metrics: [
        "speed_index",
        "first_contentful_paint",
        "time_to_interactive",
        "first_meaningful_paint",
        "first_cpu_idle"
      ]
    };

    Vue.component('urls-table', {
      template: '#urls-table',
      data: function() {
        return globalData
      },
      methods: {
        setCurrentUrl(url) {
          this.currentUrl = url;
        },
        latestMetric(url, deviceType, metricName) {
          var urlData = this.urls[url][deviceType];

          var latestTimestamp = Object.keys(urlData).sort(function(a, b){
            return new Date(b) - new Date(a);
          })[0];

          return urlData[latestTimestamp][metricName];
        }
      }
    });

    Vue.component('apex-chart', {
      template: '#apex-chart',
      data: function() {
        return globalData
      },
      methods: {
        plotUrlData() {
          var url = this.currentUrl;
          var metrics = this.metrics;
          var urlReport = this.urls[url];
          var deviceTypes = this.deviceTypes;
          var $charts = document.querySelector(".apex-chart-container");

          $charts.innerHTML = "";

          var outputDeviceMetric = function(deviceType, metric) {
            var timeline = Object.keys(urlReport[deviceType]).map(function(timestamp) {
              return [new Date(timestamp), urlReport[deviceType][timestamp][metric]];
            });

            var optionsLine = {
              chart: {
                id: deviceType + '-' + metric,
                group: url,
                type: 'line',
                toolbar: {
                  show: true,
                  tools: {
                    download: true,
                    selection: false,
                    zoom: true,
                    zoomin: false,
                    zoomout: false,
                    pan: false,
                    reset: true
                  }
                }
              },
              title: {
                text: deviceType + ' - ' + metric
              },
              colors: ['#008FFB'],
              series: [{
                data: timeline
              }],
              yaxis: {
                labels: {
                  minWidth: 40
                }
              }
            }

            var $chartContainer = document.createElement('div');
            $chartContainer.className = "apex-chart"

            $charts.appendChild($chartContainer);

            var chartLine = new ApexCharts(
              $chartContainer,
              optionsLine
            );

            chartLine.render();
          }

          metrics.forEach(function(metric) {
            outputDeviceMetric("mobile", metric);
            outputDeviceMetric("desktop", metric);
          });
        }
      },
      watch: {
      	currentUrl: function() {
          this.plotUrlData();
        }
      },
      mounted() {
        this.plotUrlData();
      }
    });

    new Vue({
      el: '#app',
      data: globalData
    });
  </script>
</body>

</html>
