<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PSI Dashboard</title>

  <style>
    #wrapper {
      padding-top: 20px;
      padding-left: 10px;
      background: #fff;
      border: 1px solid #ddd;
      box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
      max-width: 650px;
      margin: 35px auto;
    }
  </style>
</head>

<body>
  <div class="charts">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>

  <script>
    var reportData = <%= psi_data.to_json %>;
  </script>

  <script>
    // The global window.Apex variable below can be used to set common options for all charts on the page
    Apex = {
      chart: {
        height: 160,
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'straight'
      },
      toolbar: {
        tools: {
          selection: false
        }
      },
      markers: {
        size: 6,
        hover: {
          size: 10
        }
      },
      tooltip: {
        followCursor: false,
        theme: 'dark',
        x: {
          show: false
        },
        marker: {
          show: false
        },
        y: {
          title: {
            formatter: function() {
              return ''
            }
          }
        }
      },
      grid: {
        clipMarkers: false
      },
      yaxis: {
        tickAmount: 2
      },
      xaxis: {
        type: 'datetime'
      },
    }

    Object.keys(reportData).forEach(function(psiUrl) {
      var urlReport = reportData[psiUrl];
      var deviceTypes = ["mobile", "desktop"];

      deviceTypes.forEach(function(deviceType) {
        var metrics = [
          "speed_index",
          "first_contentful_paint",
          "time_to_interactive",
          "first_meaningful_paint",
          "first_cpu_idle"
        ];

        var psiReport = urlReport[deviceType];

        metrics.forEach(function(metric) {
          var timeline = Object.keys(psiReport).map(function(timestamp) {
            return [new Date(timestamp), psiReport[timestamp][metric]]
          });

          console.log(psiUrl)
          console.log(deviceType)
          console.log(metric)
          console.log(timeline)

          var optionsLine = {
            chart: {
              id: deviceType + '-' + metric,
              group: psiUrl,
              type: 'line',
            },
            title: {
              text: psiUrl + ' - ' + deviceType + ' - ' + metric
            },
            colors: ['#008FFB'],
            series: [{
              data: timeline
            }],
            yaxis: {
              labels: {
                minWidth: 40
              }
            }
          }

          var $charts = document.querySelector(".charts");

          var $chartContainer = document.createElement('div');

          $charts.appendChild($chartContainer);

          var chartLine = new ApexCharts(
            $chartContainer,
            optionsLine
          );

          chartLine.render();
        });
      });
    });
  </script>
</body>

</html>
